<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="vm.sidenavOpen">
  <md-toolbar>
  <h1 class="md-toolbar-tools">Add a Classified</h1>
  </md-toolbar>
  <md-content layout-padding>
    
    <form>
      <md-input-container>
        <label for="title">Title</label>
        <input type="text" id="title" ng-model="item.title" md-autofocus>
      </md-input-container>
      <md-input-container>
      <label for="price">Price</label>
      <input type="text" id="price" ng-model="item.price" md-autofocus>
      </md-input-container>
      <md-input-container>
      <label for="description">Description</label>
      <input type="text" id="description" ng-model="item.description" md-autofocus>
      </md-input-container>
      <md-input-container>
      <label for="image">Image</label>
      <input type="text" id="image" ng-model="item.image" md-autofocus>
      </md-input-container>
      <md-button ng-if="!editing" ng-click="vm.saveItem(item)" class="md-primary">
      Save
      </md-button>
      <md-button ng-click="vm.saveEdit()" ng-if="editing" class="md-primary">
      Save Edit
      </md-button>
      <md-button ng-click="vm.closeSidebar()" class="md-warn">
      Cancel
      </md-button>

      <pre>{{ item | json }}</pre>
    </form> 
  </md-content> 
</md-sidenav>