<md-toolbar>
  <div class="md-toolbar-tools">
    <p><strong>Shopping</strong></p>

    <md-button ng-click="vm.openSidebar()">
      <md-icon class="mdi mdi-plus-circle">
        New
      </md-icon>
    </md-button>

    <md-button ng-click="showFilters = true">
      <md-icon class="mdi mdi-magnify"></md-icon>
      Filters
    </md-button>
  </div>
</md-toolbar> 

<div class="filters" layout="row" layout-align="center center" ng-show="showFilters">

  <md-input-container class style="margin-top: 43px;">
    <label>Enter Search Term</label>
    <input type="text" ng-model="itemsFilter">
  </md-input-container>

  <md-input-container>
  <label>Category</label>
  <md-select ng-model= "category">
  <md-option ng-repeat= "category in vm.categories" value="{{ category }}">
  {{ category }}
  </md-option>
  </md-select>
  </md-input-container>

  <div layout= "row">
    <md-button
      class= "md-warn"
      ng-click="itemsFilter = ''; category = ''">Clear
    </md-button> 
  </div>
</div>

<ui-view></ui-view>

<md-content>
  <classified-card  
    items = "vm.items", 
    items-filter= "itemsFilter", 
    category= "category" 
    class= "md-padding" 
    layout= "row" 
    layout-wrap>
  </classified-card>  
</md-content>